<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zuo-deploy</title>
  <!-- 导入样式 -->
  <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
  <!-- 导入 Vue 3 -->
  <script src="//unpkg.com/vue@next"></script>
  <!-- 导入组件库 -->
  <script src="//unpkg.com/element-plus"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  <style>
    .login-area {
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 10px;
    }

    .text-log-wrap {
      font-size: 14px;
      background: rgba(0, 0, 0, 0.8);
      color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 100px;
    }

    .text-log-wrap pre {
      padding: 0;
      margin: 0;
      white-space: normal;
    }

    .text-log p {
      margin: 5px 0;
      white-space: normal;
    }

    .nginx-conf-main {
      margin-top: 15px;
      padding: 0 20px;
      border-radius: 8px;
      color: white;
      background: #333;
      overflow: hidden;
      min-height: 100px;
      overflow-x: scroll;
    }
  </style>
</head>

<body>
  <div id="app" style="margin:0 20px;">
    <div class="login-area">
      <div v-if="!isLogin">
        <el-input v-model="password" type="password" style="width: 200px;"></el-input>
        &nbsp;
        <el-button type="primary" @click="login">登录</el-button>
      </div>
      <div v-else>已登录</div>
    </div>

    <div>
      <el-tabs v-model="curTab" @tab-change="tabChange">
        <el-tab-pane label="运行 shell 脚本" name="SHELL_RUN"></el-tab-pane>
        <el-tab-pane label="shell文件管理" name="SHELL_ADMIN"></el-tab-pane>
        <el-tab-pane label="nginx配置管理" name="NGINX_ADMIN"></el-tab-pane>
      </el-tabs>
    </div>
    <!-- @start shell_run -->
    <div v-show="curTab === 'SHELL_RUN'">
      <div style="margin: 20px 0; width: 500px;">
        <el-input v-model="shellText" type="textarea" placeholder="请输入shell脚本" :rows="5"></el-input>
        <el-button type="plain" @click="runShell" style="margin-top: 15px;;">运行</el-button>
      </div>
      <div>
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <p>日志:</p>
          <el-button type="plain" size="small" @click="msgList.splice(0, msgList.length)">清除日志</el-button>
        </div>
        <div class="text-log-wrap">
          <pre v-if="msgList.length" class="text-log">
            <pre v-for="(text, index) in msgList" :key="text+index">{{text}}</pre>
          </pre>
          <div v-else></div>
        </div>
      </div>
    </div>
    <!-- @end shell_run -->
    <!-- @start shell_admin -->
    <div v-show="curTab === 'SHELL_ADMIN'">
      <div>
        <el-button type="plain" @click="addFile" style="margin-top: 15px;">新增脚本</el-button>
      </div>
      <div>
        <el-tabs v-model="curShellTabIndex">
          <el-tab-pane v-for="(item, index) in shellList" :key="item.name" :label="`${item.name}`" :name="index">
          </el-tab-pane>
        </el-tabs>
      </div>
      <div v-if="shellList.length">
        <div style="margin-top: 15px;">
          <el-button type="plain" @click="runCurShell">
            运行当前脚本 {{curShellName}}
          </el-button>
          <el-button type="plain" @click="editFile">
            修改 {{curShellName}}
          </el-button>
          <el-button type="plain" @click="deleteFileWrap">
            删除 {{curShellName}}
          </el-button>
        </div>
        <pre>{{shellList[curShellTabIndex].content}}</pre>
      </div>
      <div v-else>
        暂无shell脚本文件
      </div>
      <div v-if="shellList.length">
        <div style="display: flex;align-items: center;justify-content: space-between;">
          <p>日志:</p>
          <el-button type="plain" size="small" @click="shellMsgObj[shellList[curShellTabIndex].name] = []">清除日志
          </el-button>
        </div>
        <div class="text-log-wrap">
          <pre v-if="shellMsgObj[shellList[curShellTabIndex].name]?.length" class="text-log">
            <pre v-for="(text, index) in shellMsgObj[shellList[curShellTabIndex].name]" :key="text+index">{{text}}</pre>
          </pre>
          <div v-else></div>
        </div>
      </div>
    </div>
    <!-- @end shell_admin -->
    <!-- @start nginx_admin -->
    <div v-show="curTab === 'NGINX_ADMIN'" style="position: relative;">
      <div style="position: absolute;top:10px;right:10px;">
        <el-button type="plain" @click="nginxOpt('start')">启动nginx</el-button>
        <el-button type="plain" @click="nginxOpt('reload')">重启nginx</el-button>
        <el-button type="plain" @click="nginxOpt('stop')">停止nginx</el-button>
      </div>
      <div>
        服务器系统：
        <!-- <div> ubuntu 系统默认安装目录 /etc/nginx/nginx.conf </div>
        <div> macOs 系统默认安装目录 /usr/local/etc/nginx.conf </div> -->
        <el-radio-group v-model="curNginxSysIndex" class="ml-4" @change="curNginxSysChange">
          <el-radio v-for="(item, index) in NGINX_PATH_LIST" :key="item.key" :label="index" size="large">
            <span :title="item.desc">{{item.key}}</span>
          </el-radio>
        </el-radio-group>
      </div>
      <div>nginx默认配置目录:{{NGINX_PATH_LIST[curNginxSysIndex].path}}</div>
      <div>nginx默认项目目录:{{NGINX_PATH_LIST[curNginxSysIndex].defaultProjectPath}}</div>
      <!-- <div>推荐多项目配置文件目录: /etc/nginx/sites-available/* </div> -->
      <el-tabs v-model="curNginxTab" @tab-change="curNginxTabChange">
        <el-tab-pane label="主配置" name="NGINX_ADMIN_MAIN"></el-tab-pane>
        <el-tab-pane label="多项目独立nginx配置文件管理" name="NGINX_ADMIN_MULTIPLE"></el-tab-pane>
        <el-tab-pane label="https证书管理" name="NGINX_ADMIN_HTTPS"></el-tab-pane>
      </el-tabs>
      <!-- @start nginx admin - 主配置-->
      <div v-show="curNginxTab === 'NGINX_ADMIN_MAIN'">
        <div style="display:flex;align-items: center;margin-top:15px;">
          <el-button type="plain" @click="getNginxConfig">加载nginx配置文件</el-button>
          <span style="margin-left: 15px;">{{NGINX_PATH_LIST[curNginxSysIndex].path + '/nginx.conf'}}</span>
        </div>
        <div class="nginx-conf-main" v-if="curNginxConfigContent" style="position: relative">
          <div style="position: absolute;top:10px;right:10px;">
            <el-button type="plain" @click="editNginxFile">修改</el-button>
            <el-button type="plain" @click="deleteFileWrap" disabled>删除</el-button>
          </div>
          <pre>{{curNginxConfigContent}}</pre>
        </div>
      </div>
      <!-- @end nginx admin - 主配置-->

      <!-- @start nginx admin - 多项目独立nginx配置文件管理 -->
      <div v-show="curNginxTab === 'NGINX_ADMIN_MULTIPLE'">
        <div style="display:flex;align-items: center;margin-top:15px;">
          <el-button type="plain" @click="getMultipleNginxConfig">加载当前目录nginx配置文件</el-button>
          <span style="margin-left: 15px;">当前目录：</span>
          <el-input v-model="nginxMultiplePath" style="width: 300px;" />
        </div>
        <div>
          <el-button type="plain" @click="addFile" style="margin-top: 15px;">新增nginx配置文件</el-button>
        </div>
        <!---tabs-->
        <div>
          <el-tabs v-model="curNginxFileIndex">
            <el-tab-pane v-for="(item, index) in nginxFileList" :key="item.name" :label="`${item.name}`" :name="index">
            </el-tab-pane>
          </el-tabs>
        </div>
        <div v-if="nginxFileList.length">
          <div class="nginx-conf-main" v-if="nginxFileList[curNginxFileIndex].content" style="position: relative">
            <div style="position: absolute;top:10px;right:10px;">
              <el-button type="plain" @click="editNginxFile('multiple')">修改</el-button>
              <el-button type="plain" @click="deleteFileWrap">删除</el-button>
            </div>
            <pre>{{nginxFileList[curNginxFileIndex].content}}</pre>
          </div>
        </div>
        <div v-else>
          暂无nginx配置文件
        </div>
        <!-- nginxFileList -->
      </div>
      <!-- @end nginx admin - 多项目独立nginx配置文件管理 -->

      <!-- @start https_ssl - https证书管理 -->
      <div v-show="curNginxTab === 'NGINX_ADMIN_HTTPS'">
        <div>
          相关链接：
          <a href="https://console.cloud.tencent.com/ssl">腾讯云ssl申请免费证书</a>、
          <a href="https://cloud.tencent.com/document/product/400/35244" target="_blank">Nginx 服务器 SSL 证书安装部署</a>
        </div>
        <details style="margin: 12px 0">
          <summary>点击查看 nginx https 证书参考配置</summary>
          <div class="nginx-conf-main">
            <pre>
# 阿里云 windows 服务器 HTTPS server 配置参考（实际配置以官方文档为主）
# http://www.zuo11.com/blog/2020/6/nginx_https.html
server {
    listen       443 ssl;
    server_name  api.zuo11.com;

    # ssl 证书建议放在 nginx 默认目录下的 cert 目录下
    ssl_certificate     cert\3391782_api.zuo11.com.pem;
    ssl_certificate_key cert\3391782_api.zuo11.com.key;

    ssl_session_cache    shared:SSL:1m;
    ssl_session_timeout  5m;

    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;  #使用此加密套件。
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;   #使用该协议进行配置。
    ssl_prefer_server_ciphers on;

    location / {
        # root   html;
        # index  index.html index.htm;
        proxy_pass http://127.0.0.1:9000;
    }
}
          </pre>
          </div>
        </details>
        <div style="display:flex;align-items: center;margin-top:15px;">
          <el-button type="plain" @click="getHttpsCert">加载当前目录证书文件</el-button>
          <span style="margin-left: 15px;">当前目录：</span>
          <el-input v-model="nginxCertPath" style="width: 300px;" />
        </div>
        <div style="display: flex;flex-wrap: wrap;margin: 20px 0;">
          <div v-for="item in httpsCertList" style="padding: 15px;margin: 10px;border: 1px solid #ccc;border-radius:5px;">
            {{ item.name }}
            <el-button type="text" @click="deleteFileWrap(item)">删除</el-button>
          </div>
        </div>
        <div>
          <!-- http://www.zuo11.com/blog/2021/1/koa-formdata.html -->
          <input type="file" id="file" multiple @change="uploadFileChange">
        </div>
        <div v-if="!httpsCertList.length">暂无数据</div>
      </div>
      <!-- @end https_ssl - https证书管理 -->
    </div>
    <!-- @end nginx_admin -->
    <!-- @start 新增 dialog -->
    <el-dialog v-if="addDialogVisible" v-model="addDialogVisible" title="新增文件" width="600px">
      <el-form :model="form" :label-width="100">
        <el-form-item label="文件路径">
          <el-input v-model="form.curPath" autocomplete="off" />
        </el-form-item>
        <el-form-item label="文件名">
          <el-input v-model="form.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="文件内容">
          <el-input v-model="form.content" type="textarea" :rows="10" autocomplete="off" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="addDialogVisible = false">取消</el-button>
          <el-button type="primary" @click="saveFileWrap">
            确认
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- @end 新增 dialog-->

    <!-- @start 修改 dialog -->
    <el-dialog v-if="editDialogVisible" v-model="editDialogVisible" title="修改文件" style="width: 90%;
    max-width: 1280px;">
      <el-form :model="form" :label-width="100">
        <el-form-item label="文件路径">
          <el-input v-model="form.curPath" disabled autocomplete="off" />
        </el-form-item>
        <el-form-item label="文件名">
          <el-input v-model="form.name" disabled autocomplete="off" />
        </el-form-item>
        <el-form-item label="文件内容">
          <el-input v-model="form.content" type="textarea" :rows="15" autocomplete="off" />
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="editDialogVisible = false">取消</el-button>
          <el-button type="primary" @click="editFileSaveWrap">
            确认
          </el-button>
        </span>
      </template>
    </el-dialog>
    <!-- @end 修改 dialog-->
  </div>
  <script>
    const app = {
      data() {
        return {
          counter: 0,
          deployLog: '点击按钮进行部署',
          msgList: [],
          password: '',
          isLogin: false,
          shellText: '', // shell 脚本内容
          curTab: 'SHELL_RUN', // SHELL_ADMIN,SHELL_RUN
          shellList: [],
          curShellTabIndex: 0,
          shellMsgObj: {},
          curShellSocketInit: false,
          addDialogVisible: false,
          editDialogVisible: false,
          form: {
            name: '',
            content: '',
            curPath: ''
          },
          curNginxSysIndex: 0,
          NGINX_PATH_LIST: [
            { key: 'ubuntu', path: '/etc/nginx', defaultProjectPath: '/var/www/html/', multiplePath: '/etc/nginx/sites-enabled/', desc: 'ubuntu系统ng默认目录' },
            { key: 'mac', path: '/usr/local/etc/nginx', defaultProjectPath: '/usr/local/var/www/', multiplePath: '/usr/local/etc/nginx/', desc: 'mac系统ng默认目录' },
            { key: '自定义', path: 'todo', desc: '手动指定目录' }
          ],
          curNginxConfigContent: '',
          curNginxTab: 'NGINX_ADMIN_MAIN',
          nginxMultiplePath: '/etc/nginx/sites-enabled/', // ubuntu
          nginxCertPath: '/etc/nginx/cert',
          nginxFileList: [],
          curNginxFileIndex: 0,
          httpsCertList: []
        }
      },
      computed: {
        curShellName() {
          return this.shellList[this.curShellTabIndex].name
        }
      },
      mounted() {
        this.socket = io() // 链接到 socket 服务器
        this.socket.on('runShell', (msg) => {
          this.msgList.push(msg)
        })
        axios.get('/isLogin')
          .then((response) => {
            console.log(response.data);
            let { code, msg, data } = response.data
            if (data) {
              this.isLogin = true
              this.getShellFileList()
              // this.getNginxConfig()
            }
          }).catch(function (error) {
            console.log(error);
          })
      },
      methods: {
        uploadFileChange(event) {
          let formData = new FormData()
          // 多个文件上传：使用同一个字段上传
          console.log(event.target.files) // FileList 类数组对象
          let files = event.target.files
          for (let i = 0, len = files.length; i < len; i++) {
            formData.append('image', files[i])
          }
          // 单文件上传
          // formData.append('image', files[0])
          formData.append('param1', 'abc')
          formData.append('curPath', this.nginxCertPath)
          fetch('/upload', {
            method: 'POST',
            body: formData
          })
            .then(() => {
              this.getHttpsCert()
            })
            .catch((e) => {
              this.$message.error(e.message)
            })
        },
        curNginxTabChange() {
          console.log(this.curNginxTab)
          if (this.curNginxTab === 'NGINX_ADMIN_HTTPS') {
            // this.getHttpsCert()
          }
        },
        getHttpsCert() {
          let curPath = this.NGINX_PATH_LIST[this.curNginxSysIndex].path
          axios.get('/https/get', { params: { curPath } })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg, data } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              // this.getShellFileList()
              this.httpsCertList = data
            })
            .catch((err) => {
              console.log(err);
              this.$message.error(err?.message)
            })
        },
        curNginxSysChange(index) {
          this.nginxMultiplePath = this.NGINX_PATH_LIST[index].multiplePath
          this.nginxCertPath = this.NGINX_PATH_LIST[index].path + '/cert'
        },
        nginxOpt(opt) {
          let cmdMap = {
            'start': 'nginx',
            'reload': 'nginx -s reload',
            'stop': 'nginx -s stop'
          }
          this.curTab = 'SHELL_RUN'
          this.shellText = cmdMap[opt]
          this.runShell()
        },
        getNginxConfig() {
          let curPath = this.NGINX_PATH_LIST[this.curNginxSysIndex].path
          axios.get('/nginx/get', { params: { curPath } })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg, data } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              // this.getShellFileList()
              this.curNginxConfigContent = data
            })
            .catch((err) => {
              console.log(err);
              this.$message.error(err?.message)
            })
        },
        getMultipleNginxConfig(isDelete) {
          axios.get('/nginx/multipleGet', { params: { curPath: this.nginxMultiplePath } })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg, data } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              this.nginxFileList = data
              isDelete && (this.curNginxFileIndex = 0) // 删除时，需要重置
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        addFile() {
          let formData = {
            name: '',
            content: '',
            curPath: ''
          }
          if (this.curTab === 'NGINX_ADMIN' && this.curNginxTab === 'NGINX_ADMIN_MULTIPLE') {
            formData.curPath = this.nginxMultiplePath
            // TODO: 安全性方面，增加 curPath 冻结参数
          }
          this.addDialogVisible = true
          Object.assign(this.form, formData)
        },
        async deleteFileWrap(item) {
          let type = 'shell'
          let curPath = '.'
          let name = this.shellList[this.curShellTabIndex].name
          // 根据当前 tab，设置修改类型
          if (this.curTab === 'NGINX_ADMIN') {
            type = 'nginx'
            if (this.curNginxTab === 'NGINX_ADMIN_MULTIPLE') {
              type = 'multipleNginx'
              curPath = this.nginxMultiplePath
              name = this.nginxFileList[this.curNginxFileIndex].name
            }
          }
          if (this.curNginxTab === 'NGINX_ADMIN_HTTPS' && item) {
            type = 'https'
            curPath = this.nginxCertPath
            name = item.name
          }
          if (type === 'nginx') {
            this.$message.warning('主配置文件暂时不开放删除功能')
            return
          }
          let successCallbackMap = {
            'shell': () => {
              this.getShellFileList()
            },
            "nginx": () => {
              this.getNginxConfig()
            },
            "multipleNginx": () => {
              this.getMultipleNginxConfig('delete')
            },
            "https": () => {
              this.getHttpsCert()
            }
          }
          this.deleteFile(successCallbackMap[type], { name, curPath })
        },
        async deleteFile(cb, data) {
          try {
            await this.$confirm(
              '确定要删除吗？',
              '提示',
              {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning',
              }
            )
          } catch (e) {
            return
          }
          axios.post('/deleteFile', { ...data })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              cb && cb()
            })
            .catch((err) => {
              console.log(err);
              this.$message.error(err?.message)
            })
        },
        editFile() {
          this.editDialogVisible = true
          let { name, content } = this.shellList[this.curShellTabIndex]
          Object.assign(this.form, {
            curPath: '.',
            name,
            content
          })
        },
        editNginxFile(type) {
          this.editDialogVisible = true
          let formData = {
            curPath: this.NGINX_PATH_LIST[this.curNginxSysIndex].path,
            name: 'nginx.conf',
            content: this.curNginxConfigContent
          }
          if (type === 'multiple') {
            let { name, content } = this.nginxFileList[this.curNginxFileIndex]
            formData = {
              curPath: this.nginxMultiplePath,
              name,
              content
            }
          }
          Object.assign(this.form, formData)
        },
        editFileSave(cb) {
          axios.post('/editFile', this.form)
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              this.editDialogVisible = false
              cb && cb()
            })
            .catch((err) => {
              console.log(err);
              this.$message.error(err?.message)
            })
        },
        editFileSaveWrap() {
          let type = 'shell'
          // 根据当前 tab，设置修改类型
          if (this.curTab === 'NGINX_ADMIN') {
            type = 'nginx'
            if (this.curNginxTab === 'NGINX_ADMIN_MULTIPLE') {
              type = 'multipleNginx'
            }
          }
          let successCallbackMap = {
            'shell': () => {
              this.getShellFileList()
            },
            "nginx": () => {
              this.getNginxConfig()
            },
            "multipleNginx": () => {
              this.getMultipleNginxConfig()
            }
          }
          this.editFileSave(successCallbackMap[type])
        },
        saveFileWrap() {
          let type = 'shell'
          // 根据当前 tab，设置修改类型
          if (this.curTab === 'NGINX_ADMIN') {
            type = 'nginx'
            if (this.curNginxTab === 'NGINX_ADMIN_MULTIPLE') {
              type = 'multipleNginx'
            }
          }
          const successCallbackMap = {
            'shell': (name) => {
              this.getShellFileList()
              name.endsWith('.sh') && this.socket.on('shell-log-' + name, (msg) => {
                !this.shellMsgObj[name] && (this.shellMsgObj[name] = [])
                this.shellMsgObj[name].push(msg)
              })
            },
            "multipleNginx": () => {
              this.getMultipleNginxConfig()
            }
          }
          this.saveFile(successCallbackMap[type])
        },

        saveFile(cb) {
          console.log(this.form)
          let { name, content } = this.form
          if (!name || !content) {
            this.$message.warning('请输入名称、内容')
            return
          }
          axios.post('/saveFile', this.form)
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              this.addDialogVisible = false
              cb && cb(name)
              console.log(msg)
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        runShell() {
          // 将 shell 内容存储到一个临时文件 temp.sh，用 node 执行该 shell
          axios.post('/runShell', { shellText: this.shellText })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
              }
              console.log(msg)
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        runCurShell() {
          // 将 shell 内容存储到一个临时文件 temp.sh，用 node 执行该 shell
          axios.post('/runCurShell', { name: this.shellList[this.curShellTabIndex].name })
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
              }
              console.log(msg)
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        tabChange(name) {
          console.log(this.curTab, name)
        },
        getShellFileList() {
          axios.get('/shell/get')
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg, data } = response.data
              if (code !== 0) {
                this.$message.error(msg)
                return
              }
              this.shellList = data
              this.curShellTabIndex = 0
              // 为每一个文件，新增一个 socket log 通道
              if (this.curShellSocketInit) {
                return
              }
              this.shellList.forEach(item => {
                this.socket.on('shell-log-' + item.name, (msg) => {
                  !this.shellMsgObj[item.name] && (this.shellMsgObj[item.name] = [])
                  this.shellMsgObj[item.name].push(msg)
                })
              })
              this.curShellSocketInit = true
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        login() {
          if (!this.password) {
            this.$message.warning('请输入密码')
            return
          }
          axios.post('/login', { password: this.password })
            .then((response) => {
              console.log(response.data);
              let { code, msg } = response.data
              if (code === 0) {
                this.isLogin = true
                this.getShellFileList()
                // this.getNginxConfig()
              } else {
                this.$message.error(msg)
              }
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        },
        deploy() {
          this.msgList = []
          this.deployLog = '后端部署中，请稍等...'
          axios.post('/deploy')
            .then((response) => {
              // handle success
              console.log(response.data);
              let { code, msg } = response.data
              if (code !== 0) {
                this.$message.error(msg)
              }
              console.log(msg)
            })
            .catch(function (err) {
              console.log(err);
              this.$message.error(err.message)
            })
        }
      }
    }

    Vue.createApp(app).use(ElementPlus).mount('#app')
  </script>
</body>

</html>